<!-- AFFICHAGE DES GROUPES </-->

<div  >
      
      
  <button type="button" class="btn btn-primary"
  routerLinkActive="active" (click)="setg1()"
   

   >  <a routerLink="one" style="color: white;" id="grp1">  Groupe1 </a> </button> 

   <button type="button" class="btn btn-primary" 
    routerLinkActive="active" (click)="setg2()"

   >  <a routerLink="two" style="color: white;" id= "grp2">  Groupe2 </a> </button> 
  
</div>

<!-- AFFICHAGE DES ETUDIANTS </-->

<div >
<router-outlet> </router-outlet>

</div>
