           
  <table class="table">
   <tr>
        <th> Matricule </th>
        <th> Nom </th>
        <th> Prenom </th>
        <th> Absence </th>
   
    </tr> 

    </table>


    <table class="table">
      <app-etudiant *ngFor=" let e of liste1"
                    [id]="e.id" 
                    [nom]="e.Nom"  
                    [prenom] = "e.Prenom"
                    [abs] = "e.Abs" 
                    
                     >
                     
       </app-etudiant>
      </table> 

  
